body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat;
  /* background-color: #26335d; */
}

.cocktail-img {
  min-width: 200px;
  min-height: 200px;
  max-width: 100px;
  max-height: 100px;
}

.bg-home {
  background: url("../public/Image/homepage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.details-img {
  width: 100%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
}
